<div css="centered">
  <p>You said:</p>
  <p><%= @your_message %></p>
  <p>The coach answered:</p>
  <p><%= @coach_i_answer %></p>
  <a href="/ask">
    <button>Back to the questions</button>
  </a>
</div>
